
CREATE TABLE fee_files (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  fee_id UUID REFERENCES fees(id) ON DELETE CASCADE,
  file_path TEXT NOT NULL,
  file_type TEXT NOT NULL,
  file_name TEXT NOT NULL,
  uploaded_by UUID REFERENCES profiles(id),
  uploaded_at TIMESTAMPTZ DEFAULT NOW()
);


ALTER TABLE fee_files ENABLE ROW LEVEL SECURITY;

CREATE POLICY \
Admin
can
manage
fee
files\
  ON fee_files FOR ALL
  USING (
    EXISTS (
      SELECT 1 FROM profiles
      WHERE profiles.id = auth.uid()
      AND profiles.role = 'admin'
    )
  );

CREATE POLICY \Users
can
view
own
fee
files\
  ON fee_files FOR SELECT
  USING (
    EXISTS (
      SELECT 1 FROM fees
      WHERE fees.id = fee_files.fee_id
      AND fees.id = auth.uid()
    )
  );


INSERT INTO storage.buckets (id, name)
VALUES ('fee-files', 'fee-files');

CREATE POLICY \
Allow
authenticated
users
to
upload
to
fee-files
bucket\ ON storage.objects
  FOR INSERT
  TO authenticated
  WITH CHECK (bucket_id = 'fee-files');

-- Allow users to insert rows into the fees table
CREATE POLICY "Users can insert fees"
  ON fees FOR INSERT
  WITH CHECK (
    EXISTS (
      SELECT 1 FROM profiles
      WHERE profiles.id = auth.uid()
    )
  );


  ALTER TABLE public.fees ENABLE ROW LEVEL SECURITY;

-- Allow admins to select fees
CREATE POLICY "Admin can select fees"
ON public.fees
FOR SELECT
USING (
  EXISTS (
    SELECT 1
    FROM profiles
    WHERE profiles.id = auth.uid() AND profiles.role = 'admin'
  )
);

-- Allow teachers to select fees
CREATE POLICY "Teacher can select fees"
ON public.fees
FOR SELECT
USING (
  EXISTS (
    SELECT 1
    FROM profiles
    WHERE profiles.id = auth.uid() AND profiles.role = 'teacher'
  )
);


GRANT SELECT ON public.fees TO authenticated;