CREATE TABLE fee_files (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  fee_id UUID REFERENCES fees(id) ON DELETE CASCADE,
  file_path TEXT NOT NULL,
  file_type TEXT NOT NULL,
  file_name TEXT NOT NULL,
  uploaded_by UUID REFERENCES profiles(id),
  uploaded_at TIMESTAMPTZ DEFAULT NOW()
);

ALTER TABLE fee_files ENABLE ROW LEVEL SECURITY;

ALTER POLICY "Admin can manage fee files"
ON fee_files
FOR ALL
USING (
  EXISTS (
    SELECT 1 FROM profiles
    WHERE profiles.id = auth.uid()
    AND profiles.role = 'admin'
  )
);

ALTER POLICY "Users can view own fee files"
ON fee_files
FOR SELECT
USING (
  EXISTS (
    SELECT 1 FROM fees
    WHERE fees.id = fee_files.fee_id
    AND fees.created_by = auth.uid()
  )
);

INSERT INTO storage.buckets (id, name)
VALUES ('fee-files', 'fee-files');

ALTER POLICY "Allow authenticated users to upload to fee-files bucket"
ON storage.objects
FOR INSERT
TO authenticated
WITH CHECK (bucket_id = 'fee-files');

ALTER TABLE public.fees ENABLE ROW LEVEL SECURITY;

ALTER POLICY "Admin can manage fees"
ON public.fees
FOR ALL
USING (
  EXISTS (
    SELECT 1
    FROM profiles
    WHERE profiles.id = auth.uid() AND profiles.role = 'admin'
  )
);

ALTER POLICY "Teacher can select fees"
ON public.fees
FOR SELECT
USING (
  EXISTS (
    SELECT 1
    FROM profiles
    WHERE profiles.id = auth.uid() AND profiles.role = 'teacher'
  )
);

ALTER POLICY "Users can insert fees"
ON public.fees
FOR INSERT
WITH CHECK (
  EXISTS (
    SELECT 1 FROM profiles
    WHERE profiles.id = auth.uid()
  )
);

ALTER POLICY "Users can view own fees"
ON public.fees
FOR SELECT
USING (
  auth.uid() = created_by
);

GRANT SELECT ON public.fees TO authenticated;