CREATE TABLE fees (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  title TEXT NOT NULL,
  description TEXT,
  amount NUMERIC(10, 2) NOT NULL,
  due_date TIMESTAMPTZ NOT NULL,
  created_at TIMESTAMPTZ DEFAULT NOW(),
  updated_at TIMESTAMPTZ DEFAULT NOW(),
  created_by UUID REFERENCES profiles(id),
  class_id UUID REFERENCES classes(id),
  id UUID REFERENCES profiles(id)
);

ALTER TABLE fees ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Admin can manage fees"
  ON fees FOR ALL
  USING (
    EXISTS (
      SELECT 1 FROM profiles
      WHERE profiles.id = auth.uid()
      AND profiles.role = 'admin'
    )
  );

CREATE POLICY "Users can view own fees"
  ON fees FOR SELECT
  USING (auth.uid() = id);
