CREATE TABLE fee_files (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  fee_id UUID REFERENCES fees(id) ON DELETE CASCADE,
  file_path TEXT NOT NULL,
  file_type TEXT NOT NULL,
  file_name TEXT NOT NULL,
  uploaded_by UUID REFERENCES profiles(id),
  uploaded_at TIMESTAMPTZ DEFAULT NOW()
);

ALTER TABLE fee_files ENABLE ROW LEVEL SECURITY;

ALTER POLICY "Admin can manage fee files"
ON fee_files
USING (
  EXISTS (
    SELECT 1 FROM profiles
    WHERE profiles.id = auth.uid()
    AND profiles.role = 'admin'
  )
);

ALTER POLICY "Users can view own fee files"
ON fee_files
USING (
  EXISTS (
    SELECT 1 FROM fees
    WHERE fees.id = fee_files.fee_id
    AND fees.created_by = auth.uid()
  )
);

INSERT INTO storage.buckets (id, name)
VALUES ('fee-files', 'fee-files');

ALTER POLICY "Allow authenticated users to upload to fee-files bucket"
ON storage.objects
WITH CHECK (bucket_id = 'fee-files');

ALTER TABLE public.fees ENABLE ROW LEVEL SECURITY;

-- First drop existing policies
DROP POLICY IF EXISTS "Admin can manage fees" ON public.fees;
DROP POLICY IF EXISTS "Teacher can select fees" ON public.fees;
DROP POLICY IF EXISTS "Users can insert fees" ON public.fees;
DROP POLICY IF EXISTS "Users can view own fees" ON public.fees;

-- Enable RLS
ALTER TABLE public.fees ENABLE ROW LEVEL SECURITY;

-- Create new policies
CREATE POLICY "Enable all access for admin"
ON public.fees
FOR ALL
TO authenticated
USING (
  auth.uid() IN (
    SELECT id FROM profiles
    WHERE role = 'admin'
  )
);

CREATE POLICY "Enable read access for teacher"
ON public.fees
FOR SELECT
TO authenticated
USING (
  auth.uid() IN (
    SELECT id FROM profiles
    WHERE role = 'teacher'
  )
);

CREATE POLICY "Enable read access for student"
ON public.fees
FOR SELECT
TO authenticated
USING (
  auth.uid() = created_by
);

-- Grant necessary privileges
GRANT ALL ON public.fees TO authenticated;